<!DOCTYPE html>
<html lang="en">
	<head th:repace="shared/page :: head">
<body>
	<header th:repace="shared/page :: header">
	
	<main>
		<form method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}">
			<input id="songNameInput" name="searchButton"  type = "text" placeholder="SongName">
			<button type = "submit">
				Search
			</button>
		</form >
		
		<div class="table_left">
			<table>
				<thread>
					<tr>	
						<th>TrackImage</th>
						<th>TrackName</th>
						<th>ArtistImage</th>
						<th>ArtistName</th>		
					</tr>
				</thread>
				
			<wbr>
				<tr th:each="list : ${tracksList}">
					<td class="image">
						<div class="playImage">
							<image class="songPicture" th:src="${list.trackImagePath}">
							<audio controls pause th:src=${list.url}></audio>
						</div>
					</td>
					<td th:text="${list.name}"></td>
					<td class="image">
						<image class="songPicture" th:src="${list.artist.artistImagePath}">
					</td>
					<td th:text="${list.artist.artistName}">Null</td>
				</tr>
			</tbody>
		</table>
		</div>

		<div class="artists" th:each="artist:${artists}" >	
			<image class = "songPicture" th:src="${artist.artistImagePath}">
			<p th:text="${artist.artistName}"></p>
		</div>		
	
	</main>
</body>
</html>