<!DOCTYPE html>
<html lang="ru">
<head> 
	<title>Local Music Service</title> 
	<link th:href="@{css/search.css}" rel="stylesheet">
</head>	
<body>
	<img class="background" src="/images/volume_background_2.jpg">
	<header>	
		<div class="topmenu"> <a href="/home?logout">Log out</a> </div>
		<div class="greetings">Welcome to Local Music Service</div>
		<div class="topmenu">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/playlists">PlayLists</a></li>
				<li><a href="/search">Songs</a></li>
				<li><a href="/toplist">TopList</a></li>
			</ul>
		</div>
	<header>	
		<main  style="border:2px solid" >
		<section>
			<table>
				<tr>
					<td>
						<center>MostPopularSongs</center>
						<table>
							<thead >
								<tr >
									<th style="border:2px solid" >№</th>
									<th style="border:2px solid" >Name</th>
									<th style="border:2px solid" >Group</th>
									<th style="border:2px solid" >Times</th>
								</tr>
							</thead>
		
							<tbody>
								<tr th:each="tl : ${toplist}">
									<td th:text="${tl.id}"></td>
									<td th:text="${tl.songName}"></td>
									<td th:text="${tl.groupName}"></td>
									<td th:text="${tl.times}"></td>
								</tr>
							</tbody>	
						</table>
					</td>
					<td>
						<center>MostPopularGroups</center>
						<table>
							<thead>
								<tr>
									<th style="border:2px solid" >№</th>
									<th style="border:2px solid ">Group</th>
									<th style="border:2px solid" >Times<th>
								</tr>
							</thead>
		
							<tbody>
								<tr th:each="tl : ${toplist}">
								<td th:text="${tl.id}"></td>
								<td th:text="${tl.groupName}"></td>
								<td th:text="${tl.times}"></td>
								</tr>
							</tbody>	
						</table>
					</td>
				</tr>
				</center>
			</table>
		<section>
	</main>
	<footer style="border:2px solid"  >
		<span>User: </span>
		<a th:text="${user}"></a>
	</footer>
</body>
</html>