<!DOCTYPE html>
<html lang="ru">
	<head> <title>Authorization</title> </head>
	<body>
		<header style="border:2px solid">
			<a href="/login">[ Back ]</a><br>
			<h1><center>[ Authorization ]</center></h1>
		</header>
		<main style="border:2px solid">
			<form method="POST">
<!--				<intput type="hidden" name="_csrf" th:value="${_csrf.token}">-->
				<ul>
				
				<label>Username: </label><br> 
				<input type="text" name="username" placeholder="Insert your username" maxlength=25 >
				
				<label>Password: </label><br>
				<input type="password" name="password" placeholder="Insert your password" maxlength=25 >
				
				<button type="submit">Submit</button>
				</ul>
			</form>
		</main>
		<footer style="border:2px solid">
			<a th:text="${message}"></a>
		</footer>
	</body>
</html>